.reviewCard {
    margin-top: 6%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.reviewImg {
    height: 300px;
    width: auto;
    padding-bottom: 5%;
    display: block;
    clear: both;
}

.userName {
    font-weight: bold;
    margin-right: 0.5%;
    font-size: medium;
}

.reviewInfo{
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.reviewRate {
    font-size: medium;
    margin-bottom: 3%;
}

@media screen and (max-width: 700px) {
    .reviewCard {
        margin-top: 18%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .reviewImg {
        height: 150px;
        width: auto;
        display: block;
        clear: both;
    }

    .userName {
        margin-right: 2%;
    }
}